*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    align-items: center;
    width: 50%;
    line-height: 150px;
}

.instagram-phone img{
    height: 35rem;
}

.phone-back{
    position: relative;
  }
  
  .phone-front{
    position: absolute;
    top: 75px;
    left: 145px;
  }
    
  .phone-front img {
      position:absolute;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
  }
    
  
  @keyframes cf3FadeInOut {
      0% {
      opacity:1;
    }
    35% {
    opacity:1;
    }
    75% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
  }
    
  .phone-front img.top {
    opacity: 0;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }


.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    min-height: 44rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.group:nth-child(1){
    min-height: 30rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 8rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-bottom: 1.5rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('./img/googleplay-button.png');
}

@media (max-width: 1400px){
    .instagram-wrapper{
        width: 80%;
    }
}

@media (max-width: 650px){
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }
}